altgraph==0.17.2
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.6.15
charset-normalizer==2.1.0
cheroot==8.6.0
click==8.1.3
colorama==0.4.5
Flask==2.1.3
future==0.18.2
greenlet==1.1.2
idna==3.3
importlib-metadata==4.12.0
itsdangerous==2.1.2
jaraco.functools==3.5.1
Jinja2==3.1.2
lxml==4.9.1
MarkupSafe==2.1.1
more-itertools==8.13.0
numpy==1.23.1
pandas==1.4.3
pefile==2022.5.30
pyinstaller==5.2
pyinstaller-hooks-contrib==2022.8
PyMySQL==1.0.2
python-dateutil==2.8.2
pytz==2022.1
pywin32==304
pywin32-ctypes==0.2.0
requests==2.28.1
schedule==1.1.0
simplejson==3.17.6
six==1.16.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.39
TA-Lib @ file:///D:/workspace/python/tushare/venv/Scripts/TA_Lib-0.4.24-cp39-cp39-win_amd64.whl
tornado==6.2
tushare==1.2.85
urllib3==1.26.11
websocket-client==0.57.0
Werkzeug==2.2.1
zipp==3.8.1
